<?xml version="1.0"?>
<model>
  <name>SSRC Fog drone HITL setup</name>
  <version>1.0</version>
  <sdf version='1.6'>ssrc_fog_x_hitl.sdf</sdf>

  <author>
   <name>Jari Nippula</name>
   <email>jarix@ssrc.tii.ae</email>
  </author>

  <description>
    This is a model of the SSRC Fog drone for use with HITL.
  </description>
</model>
