<?xml version="1.0"?>
<model>
  <name>iris_hitl_gps_spoof</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_hitl_gps_spoof.sdf</sdf>

  <author>
   <name>Aravindaraja Puthiyavinayagam</name>
   <email>aravindaraja@ssrc.tii.ae</email>
  </author>

  <description>
    This is a adapted model of the "iris_hitl" integrated with GPS spoof plugin.
  </description>
</model>
